.text-column {
  z-index: 2;
  font-family: 'Lato', sans-serif;
}

label.form-label {
    color: white;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

h2.mb-3 {
    color: black !important;
}

h2.mb-4{
    font-size: 2em !important;
    font-weight: bold !important;
}

form {
    padding: 15px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.7);
    z-index: 0; 
}

.btn-purple {
  background-color: purple;
  color: white;
  font-weight: bold;
  border: none;
}

.btn-purple:hover {
  background-color: green;
}

.btn-primary:hover {
    background-color: green;
}

@media (max-width: 930px) {
    .grid-container {
        padding: 0 10px;
        text-align: left;
    }

    header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    nav ul {
        justify-content: center;
    }
}

@media (max-width: 460px) {
    .desktop-logo {
        display: none;
    }

    .mobiletablet-logo {
        display: block;
    }

    .main-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        position: relative;
        width: 100%;
      }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
      }
      
      .logo-container img {
        max-width: 100%;
        height: auto;
      }

    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        display: none;
    }

    #mobile-nav.active {
        display: block;
        background-color: white;
        border-top: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px 0;
    }

    nav ul li {
        width: 100%;
        padding: 10px 0;
    }

    nav ul li a {
        font-size: 18px;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburger-menu .bar {
        width: 20px;
        height: 3px;
        background-color: #333;
        margin: 2px 0;
    }
}