.container {
  padding-top: 40px;
  padding-bottom: 40px;
}

form {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border: 2PX solid white;
  padding: 30px;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  align-self: center;
}

.col-md-8{
    z-index: 2;

}

label.form-label {
  font-weight: 600;
  color: WHITE;
  font-family: 'lato';
}

input.form-control,
textarea.form-control {
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease;
}

input.form-control:focus,
textarea.form-control:focus {
  border-color: #007bff;
  box-shadow: none;
}

.btn-primary {
  background-color: green;
  border-color: white;
  font-weight: bold;
  padding: 10px 20px;
}

.btn-secondary {
  font-weight: bold;
  padding: 10px 20px;
}

.btn:hover {
  opacity: 0.9;
}
h2.mb-4{
    font-weight: bolder;
}
.alert {
  margin-top: 10px;
  font-size: 0.95rem;
}
@media (max-width: 930px) {
    .grid-container {
        padding: 0 10px;
        text-align: left;
    }

    header {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    nav ul {
        justify-content: center;
    }
}

@media (max-width: 460px) {
    .desktop-logo {
        display: none;
    }

    .mobiletablet-logo {
        display: block;
    }

    .main-header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        position: relative;
        width: 100%;
      }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
      }
      
      .logo-container img {
        max-width: 100%;
        height: auto;
      }

    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        padding-top: 10px;
        display: none;
    }

    #mobile-nav.active {
        display: block;
        background-color: white;
        border-top: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px 0;
    }

    nav ul li {
        width: 100%;
        padding: 10px 0;
    }

    nav ul li a {
        font-size: 18px;
    }

    .hamburger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    .hamburger-menu .bar {
        width: 20px;
        height: 3px;
        background-color: #333;
        margin: 2px 0;
    }
}