<header>
  <div class="logo-container">
    <a href="{{ url_for('main.home') }}">
      <img src="{{ url_for('static', filename='images/desktop-logo.webp') }}" width="500" height="250" alt="Make Waves Logo" class="desktop-logo">
      <img src="{{ url_for('static', filename='images/mobile-tablet-logo.webp') }}" width="250" height="125" alt="Make Waves Logo" class="mobiletablet-logo">
    </a>
  </div>

  <div class="hamburger-menu">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
  <div id="mobile-nav">
    <ul>
      {% if not current_user.is_authenticated or not current_user.is_admin %}
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li><a href="{{ url_for('main.services') }}">Services</a></li>
        <li><a href="{{ url_for('main.about') }}">About Us</a></li>
      {% endif %}

      {% if current_user.is_authenticated %}
        {% if current_user.is_admin %}
          <li><a href="{{ url_for('auth.admin_dashboard') }}">Admin Dashboard</a></li>
        {% else %}
          <li><a href="{{ url_for('main.book') }}">Book Session</a></li>
          <li><a href="{{ url_for('auth.account') }}">My Account</a></li>
        {% endif %}
        <li><a href="{{ url_for('auth.logout') }}" class="text-danger">Log Out</a></li>
      {% else %}
        <li><a href="{{ url_for('auth.account') }}">Login / Register</a></li>
      {% endif %}
    </ul>
  </div>
  <nav>
    <ul>
      {% if not current_user.is_authenticated or not current_user.is_admin %}
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li><a href="{{ url_for('main.services') }}">Services</a></li>
        <li><a href="{{ url_for('main.about') }}">About Us</a></li>
      {% endif %}

      {% if current_user.is_authenticated %}
        {% if current_user.is_admin %}
          <li><a href="{{ url_for('auth.admin_dashboard') }}">Admin Dashboard</a></li>
        {% else %}
          <li><a href="{{ url_for('main.book') }}">Book Session</a></li>
          <li><a href="{{ url_for('auth.account') }}">My Account</a></li>
        {% endif %}
        <li><a href="{{ url_for('auth.logout') }}" class="text-danger">Log Out</a></li>
      {% else %}
        <li><a href="{{ url_for('auth.account') }}">Login / Register</a></li>
      {% endif %}
    </ul>
  </nav>
</header>

